/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'PP Mori';
  src: url('../../public/fonts/PPMori-Extralight.otf') format('OpenType');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'PP Mori';
  src: url('../../public/fonts/PPMori-ExtralightItalic.otf') format('OpenType');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'PP Mori';
  src: url('../../public/fonts/PPMori-Regular.otf') format('OpenType');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PP Mori';
  src: url('../../public/fonts/PPMori-RegularItalic.otf') format('OpenType');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'PP Mori';
  src: url('../../public/fonts/PPMori-SemiBold.otf') format('OpenType');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'PP Mori';
  src: url('../../public/fonts/PPMori-SemiBoldItalic.otf') format('OpenType');
  font-weight: 600;
  font-style: italic;
}


html {
    background-color: #173e4c;
    font-family: PP Mori;
    color: #ffffff;
  }
  
  * {
    padding: 0;
	  margin: 0;
  }

  html.dark {
    background-color: #0d0950;
    color: #fff;
  }
  
  .dark .nav-links a {
    color: #fff;
  }

  .greeting {
    background-color: aqua;
  }


  /* HEADER */




  /* SMALL */

nav {
  max-height: 11rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #333;
  padding-top: 1rem;
  gap: 1rem;

}

@media screen and (min-width: 860px) {


  
  nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 2rem; 

  }
  
}

  nav {
    
/*     display: flex; 
    justify-content: flex-start; 
    align-items: center;
    padding: 1rem 2rem; 
    background-color: #333;
    flex-wrap: wrap; */
    }
    

    
    nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none; 
    flex-wrap: wrap;
    }
    
    nav li {
    padding: 1rem; 
    
    }
  
    nav li a {
    text-decoration: none;
    color: #848484
    }

    nav h2 {
      font-family: PP Mori ;
      font-weight: 600;
      padding-left: 1rem;
      font-size: 2rem;
    }

    

    nav li a:hover, a:focus {
 
      color: lightgray
    }
  
  body {

  }

  main {

    display: grid;
    margin: 0 auto;
    width: 100%;
    max-width: 100ch;
    padding: 1rem;
    line-height: 1.5;
    
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }