---
const pageTitle = "Prove CSS"
---
<!-- <BaseLayout> -->
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="viewport" content="width=device-width, initia-scale=1.0"/>
      <meta name="generator" content={Astro.generator} />



<body>

<nav class="header">
  <img src="public/logo.svg" alt=""Pattern 1" width="80" height="80">
  <h2><a href="/">Climasolservice</a></h2>
  <ul>
        <li><a href="/" class="group transition duration-300">Home <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-600"></span> </a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">Chi siamo</a></li>
        <li><a href="/index_copy">Prove CSS</a></li>
      </ul>
</nav>

<main class="container">



    <div class="box"><h2>Qui provo roba con CSS</h2></div>
    <div class="box">2</div>
    <div class="box">3</div>
    <div class="box"><a href="#" class="group text-sky-600 transition duration-300">
      Link
      <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-600"></span>
      </a> </div>
    <div class="box">5</div>
    <div class="box">6</div>



  </main>
  <aside class="sidebar el"><h2>Sidebar</h2></aside>
<footer class="footer el">Footer</footer>



<section class="example">

  <p>
    <img src="/favicon.svg" alt="Pattern 1" width="200" height="200">
  </p>
</section>





</body>










  <style>



html {
    background-color: #173e4c;
    font-family: sans-serif;
    color: #ffffff;
  }
  
  * {
    padding: 0;
	  margin: 0;
  }


body {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 75px auto 75px;
  grid-template-areas: 
  "hd hd hd hd hd hd hd hd hd"
  "mn mn mn mn mn mn mn sb sb"
  "ft ft ft ft ft ft ft ft ft";
  gap: 0.5rem;
}

nav {
    display: flex; /* 1 */
    padding: 1rem 2rem; /* 3 */
    background-color: #333;

    }
    
    nav ul {
    display: flex; /* 5 */
    margin-left: auto;
    list-style: none; /* 6 */
    justify-self: flex-end;
    }
    
    nav li {
    padding: 1rem; /* 7! */
    
    }
  
    nav li a {
    text-decoration: none;
    color: #848484
    }

    nav h2 {


      font-size: 2rem;
    }

    

    nav li a:hover {
      text-decoration: underline;
      color: rgb(184, 184, 184);
    }



    @media screen and (max-width: 370px) {


img {
  display: none;
}

nav h2 {
  display: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}

}
@media screen and (max-width: 750px) {

img {
  display: none;
}

nav {
  display: flex;
  justify-content: center;

}

nav ul {
  margin: auto;
  flex-wrap: nowrap;
}

}


div:nth-child(4) {

  background-color: green;
}

  
.climas {

  justify-self: flex-start;

}

.el {
  background-color: rebeccapurple;
  color: #fff;
  display: grid;

}
.header {
  grid-area: hd;
  place-items: center;
}

.sidebar {
  grid-area: sb;
}

.footer {

  grid-area: ft;
}
.container {
  grid-area: mn;
  min-height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr 2fr);
  grid-auto-rows: minmax(150px, auto);
  gap: 1rem;
}  

.box {
  background-color: black;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem;
}

.box:first-child {

   background-color: blue; 
   grid-column: 1 / 4 ;
   grid-row: 1 / 3;
  
}

.box:nth-child(2) {

  background-color: purple;
  grid-column: 1 / 5;
  grid-row: 3 / 4;

}



  </style>


  

<!-- </BaseLayout> -->