---

---
<logo>
  <a href="/"><img src="/logo.svg" alt=""Pattern 1" width="80" height="80"></a>
  <h2><a href="/">CLIMASOLSERVICE</a></h2>
</logo>
<ul class="climas">
      <li><a href="/" class="group transition duration-300">Home <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-gray-300"></span></a></li>

      <li><a href="/blog" class="group transition duration-300">Blog <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-gray-300"></span></a></li>

      <li><a href="/about" class="group transition duration-300">Chi siamo <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-gray-300"></span></a></li>
      
      <li><a href="/index_copy" class="group transition duration-300">Prove CSS <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-gray-300"></span></a></li>
     
    </ul>




    <style>

      logo {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
      }

      .climas {
        display: flex;
        flex-wrap: nowrap;
      }

      body {
        display: grid;
      }

      img {
        min-width: 80px;
      }

    </style>