---
---
<logo>
  <a href="/"><img src="public/logo.svg" alt=""Pattern 1" width="80" height="80"></a>
  <h2><a href="/">Climasolservice</a></h2>
</logo>
<ul class="climas">
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">Chi siamo</a></li>
      <li><a href="/index copy">Prove CSS</a></li>
    </ul>




    <style>

      logo {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .climas {
        display: flex;
        flex-wrap: nowrap;
      }

      body {
        display: grid;
      }




    </style>