---
import '../styles/global.css';
const { pageTitle } = Astro.props;
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initia-scale=1.0"/>
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<main>
		<h1 class="text-center font-black">{pageTitle}</h1>
		<slot/>
		<Footer>
	</main>
	</body>
</html>
